.pageNumber{
    font-weight: 600;
    font-size: 18px;
    color: #2B0A15;
    margin: 0 10px;
    cursor: pointer;
}
.activePageNumber{
    font-weight: 700;
    color: #93C088;
    font-size: 26px;
    cursor: pointer;
    margin: 0 11px;
}
.paginatorButton{
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 2px 15px;
    border-radius: 25px;
    font-weight: 800;
    background-color: #93C088;
}
.paginator{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}