.imgUsers{
    width:100px;
}
.container{
    display: flex;
    padding: 20px 0px;
    flex-wrap: wrap;
}
.imgItem{
    flex: 0 0 130px;
    height: 100px;
    overflow: hidden;
}
.infoItem{
    flex: 1 1 auto;
}

.locationItem{
    flex: 0 1 200px;
}
.buttonItem{
    flex: 0 1 120px;
    text-align: center;

}
.userButton{
    min-width: 140px;
    display: block;
    padding: 5px 20px;
    margin: 25px auto;
}
button:disabled{
    background-color: aquamarine;
}
