.header{
    grid-area: header;
    background-color: aquamarine;
    padding: 5px 15px;
}

.header img{
    height: 100%;
    border-radius: 50%;
}

.loginBlock{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 18px;

}
.loginBlock a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 44px;
}
.ava{
    width: 50px;
}
.loginBlock span{
    margin-left: 10px;
    display: inline-block;
}
.block{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logout{
    margin: 0 10px;
    border-radius: 15px;
    min-width: 120px;
}