.image{
    overflow: hidden;
    height: 350px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.user {
    padding: 25px 20px;
    color: lightslategrey;
    font-weight: 600;
}
.containerUserImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
}

.userImg{
    width: 225px;
}

.userImg img{
    display: block;
    width: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
}
.uploadingPhoto{
    display: flex;
    margin-top: -62px;
    margin-bottom: 20px;
}
.label{
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
}
.uploadingPhoto input{
    opacity: 0;
    padding: 0;
}

.userInfo {
    line-height: 24px;
}

h1{
    margin: 10px 0 30px 0;
    text-align: center;
    font-size: 38px;
    color: #2B0A15;
    font-weight: 600;
    line-height: 45px;
}
.statusBlock{
    margin-bottom: 15px;
    text-align: center;
}
.status{
    font-size: 20px;
    font-weight: 600;
    color: #2B0A15;
    cursor: pointer;
}
.statusInput{
    font-size: 20px;
    color: #93C088;
    border: none;
    outline: none;
}

.button{
    background-color: #FA8565;
    padding: 1px 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 25px;
}
ul{
    margin: 0;
}

@media (max-width: 767px) {
    .image img{
        border-radius: 0;
    }
}

@media (max-width: 550px) {
    .image {
        height: 250px;
    }
}